.scene {
    /* define main color palette here*/
   -fx-font: 16pt "Amble Cn";
   -fx-base: red;
   -fx-accent: green;
   -fx-mark-color: blue;
}

.cell {
    -fx-background-color: -fx-table-cell-border-color, whitesmoke;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:hover .cell{
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.cell:empty{
    -fx-background-color: whitesmoke;
}

.cell:selected, .table-row-cell:hover .cell:selected{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-border-color: -fx-selection-bar;
    -fx-border-width: 2;
    -fx-border-style: dashed;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-background-insets: 0 0 1 0;
}

.cell:focused:selected, .table-row-cell:hover .cell:focused:selected{
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.cell:focused{
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, transparent;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}

.button-bar .button-box{
    -fx-background-color: -fx-focus-color;
}

.button-bar .button-box  > Label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button-bar .button-box Label {
    -fx-text-align: center;
}


